# See http://help.github.com/ignore-files/ for more about ignoring files.

*.test.hbs
*.test.hbs.json

# compiled output
/dist
/tmp
/out-tsc

# Env
.env*
!.env.example
ormconfig.*.json
!ormconfig.example.json

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/*.code-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
.pnpm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
